# Global Configuration
WorkDir: {{ mrtg_workdir }}
Options[_]: {{ mrtg_options|join(",") }}
Refresh: {{ mrtg_refresh }}
Interval: {{ mrtg_interval }}
{% for target in mrtg_targets %}

# Target: {{ target.name }}
Target[{{ target.name }}]: {{ target.target }}
{% for name, value in target.fields.items() %}
{{ name }}[{{ target.name }}]: {{ value }}
{% endfor %}
{% endfor %}
