[paths]
data = {{ grafana_data_dir }}
plugins = {{ grafana_data_dir }}/plugins
provisioning = /usr/local/etc/grafana/provisioning

[server]
http_addr = {{ grafana_http_address }}
http_port = {{ grafana_http_port }}
domain = {{ grafana_domain }}
root_url = {{ grafana_root_url }}

[log]
mode = console

[security]
admin_user = {{ grafana_admin_user }}
admin_password = """{{ grafana_admin_password }}"""
cookie_secure = true

[users]
allow_sign_up = false

[auth.anonymous]
enabled = false

[auth.proxy]
enabled = false
