#!/usr/local/bin/execlineb -P
s6-setuidgid {{ blackbox_exporter_user }}
fdmove -c 2 1
/usr/local/bin/blackbox_exporter
  --config.file=/usr/local/etc/blackbox_exporter/blackbox.yml
  --web.listen-address={{ blackbox_exporter_listen_address }}
